.container {
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@media (max-height: 250px) {
    .container {
        flex-direction: row;
    }
}

.card {
    background-color: white;
    margin: 1em;
    padding: 3em;
}